#enshu-helper {
    padding: 1em;
}

#enshu-helper .enemy-list {
    width: 400px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#enshu-helper .member_id {
    user-select: text;
}

#enshu-helper .toolbar {
    margin-top: 1em;
    margin-bottom: 1em;
}

#enshu-helper .message {
    margin-top: 1em;
    margin-bottom: 1em;
}

#enshu-helper .enemy-list-item.active {
    outline: #3b99fc solid 2px;
    outline-offset: -1px;
}
